<footer class="bg-pay-dark-blue pt-12 sm:pt-20 xl:pt-32 px-4 text-white">
  <div class="max-w-7xl mx-auto">
    <div class="grid lg:grid-cols-3 gap-6">
      <div class="col-span-2 sm:flex justify-between">
        <ul class="flex flex-col space-y-8 max-w-sm">
          <li>
            <h5 class="mb-3 text-xl">Contact Info</h5>
            <p class="text-sm">
              Contact our representatives for a personal demonstrattion or more
              details
            </p>
          </li>
          <li>
            <h5 class="mb-3 text-xl">Adiola Monsegue</h5>
            <p class="text-sm">Email : amonsegue@unipet.co</p>
            <p class="text-sm">Phone : 1868-2796656</p>
          </li>
          <li>
            <h5 class="mb-3 text-xl">Adiola Monsegue</h5>
            <p class="text-sm">Email : amonsegue@unipet.co</p>
            <p class="text-sm">Phone : 1868-2796656</p>
          </li>
        </ul>
        <div class="sm:mt-0 mt-8">
          <h5 class="mb-3 text-xl">Pages</h5>
          <ul class="flex flex-col space-y-4">
            <li>
              <a class="active" aria-current="page" href="#">Active</a>
            </li>
            <li>
              <a class="" href="#">Sign Up</a>
            </li>
            <li>
              <a class="" href="#">Log In</a>
            </li>
            <li>
              <a class="">FAQs</a>
            </li>
            <li>
              <a class="">Request Help</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="lg:text-right">
        <h5 class="mb-3 text-xl">Social Media</h5>
        <ul class="flex space-x-4 items-center lg:justify-end">
          <li>
            <a
              href="#"
              class="w-9 h-9 rounded-full text-white bg-white bg-opacity-10 transition-all hover:bg-opacity-50 hover:scale-105 inline-flex justify-center items-center"
            >
              <fa-icon [icon]="facebook"></fa-icon
            ></a>
          </li>
          <li>
            <a
              href="#"
              class="w-9 h-9 rounded-full text-white bg-white bg-opacity-10 transition-all hover:bg-opacity-50 hover:scale-105 inline-flex justify-center items-center"
            >
              <fa-icon [icon]="twitter"></fa-icon
            ></a>
          </li>
          <li>
            <a
              href="#"
              class="w-9 h-9 rounded-full text-white bg-white bg-opacity-10 transition-all hover:bg-opacity-50 hover:scale-105 inline-flex justify-center items-center"
            >
              <fa-icon [icon]="linkedin"></fa-icon
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="px-4 my-12">
      <img class="w-52 h-12 mx-auto" src="./assets/images/Logo-footer.png" />
    </div>

    <div class="border-t border-white border-opacity-10 py-12">
      <div class="flex sm:flex-row flex-col justify-between">
        <p class="sm:order-1 order-2 sm:mt-0 mt-4 text-white text-opacity-60">
          &copy; 2020 Convenience Pay.All Rights Reserved
        </p>
        <ul class="flex space-x-4 sm:mjustify-end sm:order-2 order-1">
          <li>
            <a class="p-2 text-white text-opacity-60" href="#">Terms of Use</a>
          </li>
          <li>
            <a class="p-2 text-white text-opacity-60" href="#"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
