<section class="py-16 sm:py-20 xl:py-28 px-4">
  <div class="max-w-7xl mx-auto">
    <div class="grid gap-6 lg:grid-cols-2">
      <div class="fff">
        <div class="mb-3">
          <img
            src="https://images.unsplash.com/photo-1640622660914-4b56c79bb492?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="ddd"
            class="w-full h-full object-cover mx-h-[470px] block"
          />
        </div>
        <div class="grid gap-3 grid-cols-4">
          <div class="border cursor-pointer border-pay-purple">
            <img
              src="https://images.unsplash.com/photo-1586206221377-6f1dd8a8e7c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="dd"
              class="w-full h-32 object-cover"
            />
          </div>
          <div
            class="border cursor-pointer border-transparent transition-all hover:border-pay-purple"
          >
            <img
              src="https://images.unsplash.com/photo-1621570273800-1b50b0173a97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="dd"
              class="w-full h-32 object-cover"
            />
          </div>
          <div
            class="border cursor-pointer border-transparent transition-all hover:border-pay-purple"
          >
            <img
              src="https://images.unsplash.com/photo-1586206221377-6f1dd8a8e7c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="dd"
              class="w-full h-32 object-cover"
            />
          </div>
          <div
            class="border cursor-pointer border-transparent transition-all hover:border-pay-purple relative"
          >
            <span
              class="absolute w-full h-full bg-black bg-opacity-50 flex items-center justify-center text-white"
              >More</span
            >
            <img
              src="https://images.unsplash.com/photo-1621570273800-1b50b0173a97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="dd"
              class="w-full h-32 object-cover"
            />
          </div>
        </div>
      </div>
      <div class="fff">
        <div class="flex justify-between items-center">
          <ul class="breadcrumb flex space-x-2 text-xs text-pay-gray">
            <li>
              <a href="/" class="mr-2">Home </a>
            </li>
            <li>
              <a href="#" class="mr-2">Beauty</a>
            </li>
            <li>Prefume</li>
          </ul>
          <span class="bg-pay-purple text-white p-1 rounded-sm text-xs"
            >20% off</span
          >
        </div>
        <div class="border-b border-pay-header-border my-7 pb-6">
          <h3 class="text-2xl font-medium mb-5">Cover Wood Chair</h3>
          <p class="l">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="flex text-yellow-500 space-x-3 items-center my-4">
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <span class="text-xs text-pay-gray">14 Reviews</span>
          </div>
          <div class="flex space-x-2 items-center">
            <p class="text-xl font-medium text-pay-dark-blue">100 TT$</p>
            <p class="text-xs text-black text-opacity-60 line-through">
              100 TT$
            </p>
          </div>
          <p class="text-xs text-black text-opacity-60 text-right">
            (Exclusive of VAT)
          </p>
        </div>

        <div class="border-b border-pay-header-border my-7 pb-6">
          <p class="mb-3">Size</p>
          <ul class="flex space-x-4 mb-6">
            <li
              class="border border-pay-header-border rounded-md font-medium text-xs w-14 px-1 py-2 text-center cursor-pointer text-pay-dark-blue"
            >
              M
            </li>
            <li
              class="border border-pay-header-border rounded-md font-medium text-xs w-14 px-1 py-2 text-center cursor-pointer text-pay-dark-blue"
            >
              L
            </li>
            <li
              class="border border-pay-header-border rounded-md font-medium text-xs w-14 px-1 py-2 text-center cursor-pointer text-pay-dark-blue"
            >
              XL
            </li>
            <li
              class="border border-pay-header-border rounded-md font-medium text-xs w-14 px-1 py-2 text-center cursor-pointer text-pay-dark-blue"
            >
              XXl
            </li>
            <li
              class="border border-pay-header-border rounded-md font-medium text-xs w-14 px-1 py-2 text-center cursor-pointer text-pay-dark-blue"
            >
              XXl
            </li>
            <li
              class="border border-pay-header-border rounded-md font-medium text-xs w-14 px-1 py-2 text-center cursor-not-allowed text-[#DFE3EA]"
            >
              XXl
            </li>
          </ul>
          <p class="mb-3 font-medium">Colors</p>
          <ul class="flex space-x-6">
            <li
              class="w-6 h-6 rounded-full cursor-pointer bg-pay-dark-blue"
            ></li>
            <li class="w-6 h-6 rounded-full cursor-pointer bg-[#60D5F6]"></li>
            <li class="w-6 h-6 rounded-full cursor-pointer bg-[#FFCC00]"></li>
            <li class="w-6 h-6 rounded-full cursor-pointer bg-[#E8EEF2]"></li>
            <li class="w-6 h-6 rounded-full cursor-pointer bg-[#4AB247]"></li>
            <li class="w-6 h-6 rounded-full cursor-pointer bg-[#DA6220]"></li>
            <li
              class="w-6 h-6 rounded-full cursor-pointer bg-[#D2D1D7] bg-opacity-10"
            >
              /
            </li>
          </ul>
        </div>
        <div class="flex space-x-5 items-center mt-6">
          <div class="flex space-x-2 items-center">
            <button
              class="border border-pay-header-border rounded-sm flex justify-center items-center text-2xl px-2 py-3 w-9"
            >
              -
            </button>
            <span class="font-medium">2</span>
            <button
              class="border border-pay-header-border rounded-sm flex justify-center items-center text-2xl px-2 py-3 w-9"
            >
              +
            </button>
          </div>
          <button
            class="rounded px-5 py-4 hover:bg-transparent bg-pay-purple hover:text-pay-purple border border-pay-purple hover:bg-pay-purple text-white transition-all font-semibold w-full ml-6"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
