<div class="flex items-center space-x-4 mt-4">
  <select [formControl]="selectedUserId">
    <option>Select a User</option>
    <option *ngFor="let user of users" [value]="user.id">
      {{ user.name }}
    </option>
  </select>
  <select [formControl]="blackListedUsers" multiple>
    <option *ngFor="let user of users" [value]="user.id">
      {{ user.name }}
    </option>
  </select>
</div>
AAllow black listed users
<input type="checkbox" [formControl]="allowBlackListedUsers" />
<button
  [disabled]="isUserBlackListed && !allowBlackListedUsers"
  class="inline-block px-3 py-1 bg-red-300"
>
  Submit
</button>
